<!DOCTYPE html>
<html>
    <head>
        <title>Escola | Login</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="img/icone_legal.png"/>
    </head>
    <body>
        <div id="corpo1">
            <br>
            <h1>Login de administrador</h1>
            <hr>
            <br>
            <form action="../../Controller/controller_logar_adm.php" method="POST">
                <h3><center>Digite o seu ID de adm: <input id="caixatext" type="number" name="IDadm"><br></center></h3>
                <br>
                <h3><center>Digite a sua senha: <input id="caixatext" type="password" name="senha"><br></center> </h3>
                <br>
                <center><input type="Submit" id="opcoes" value="Logar" name="botao"></center>
            </form>
            <br>
            <hr>
            <br>
            <h4>Realizar login como aluno? <a href="../../../index.html"> Clique aqui!</a></h4>
            <br>
        </div>
    </body>
</html>