<html>
    <head>
        <title>Escola - usuario</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/jpg" href="img/icone_legal.png"/>
        <link rel="stylesheet" type="text/css" href="../css/estilo.css">
    </head>
    <body>
        <div id="corpo3">
            <br>
            <center><img src="img/usuario.png" widht="100px" height="100px"/></center>
            <br>
            <hr>
            <br>
            <center><imput href="#" id="opcoes">Sobre</imput> <imput href="#" id="opcoes">Notas</imput> <imput href="#" id="opcoes">Orários</imput></center>
            <br>
            <center><imput href="#" id="opcoes">Livros</imput> <imput href="#" id="opcoes">Recessos</imput> <imput href="#" id="opcoes">Rematrícula</imput></center>
            <br>
            <hr>
            <br>
            <form action="sair.php">
                <center><input type="submit" value="Deslogar" name="deslogar" id="form-submit"></center>
            </form>
        </div>
    </body>
</html>